<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{title}}!
  </h1>

</div>



<div class="container">


  <div class="leftPanel">

    <div class="form-component">
       <label>Base:</label>
       <select #ccy class="input-component">

        <option *ngFor="let c of currencies"
        [value]="c">{{c}}</option>

       </select>
   </div>



   <div class="form-component">
      <label>Date:</label>
      <input #dateOfCcy class="input-component" type="date">
   </div>


   <div class="form-component">
      <button class="form-component btn" type="button" (click)="UpdateExchangeRateTables(ccy.value,dateOfCcy.value)"  > Display </button>
   </div>

  </div>

      <div class="rightPanel">

          <table id="ccyTable" *ngIf="searched"  cellspacing="0" cellpadding="0">
            <thead>
              <tr  class="tableHeader">
                <td class="column" (click)="SortTable()">Currency <span *ngIf="ascending">{{descendingCaracter}}</span><span *ngIf="!ascending">{{ascendingCaracter}}</span></td>
                <td class="column">Buy</td>
                <td class="column">Sell</td>
              </tr>
            </thead>

            <tbody>
                <tr *ngFor="let rate of rates; let index=index; let odd=odd; let even=even; "
                  [ngClass]="{odd: odd, even: even, red : isInSelectedCcy(rate[0])}" >

                  <td class="column">
                    {{rate[0]}}
                  </td>
                  <td class="column">
                    {{subtractSpread(rate[1]) | number:'.4-4'}}
                  </td>
                  <td class="column">
                    {{addSpread(rate[1]) | number:'.4-4'}}
                  </td>

                </tr>
            </tbody>

          </table>

      </div>
</div>
